<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>data0</param-name>
    <param-value>DengLizhi</param-value>
  </context-param>
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo4</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo4</servlet-class>
    <init-param>
      <param-name>data</param-name>
      <param-value>XXXXXXXXXXX</param-value>
    </init-param>
    <init-param>
      <param-name>data1</param-name>
      <param-value>YYYY</param-value>
    </init-param>
    <init-param>
      <param-name>data2</param-name>
      <param-value>WWWWW</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>JDBC:mysql://localhost:3306/test</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>243015</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo5</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo6</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo7</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo7</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemo8</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemo8</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDemoDB</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDemoDB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletDAODemo</servlet-name>
    <servlet-class>com.wrp.servlet.ServletDAODemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo4</servlet-name>
    <url-pattern>/ServletDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo5</servlet-name>
    <url-pattern>/ServletDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo6</servlet-name>
    <url-pattern>/ServletDemo6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo7</servlet-name>
    <url-pattern>/ServletDemo7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemo8</servlet-name>
    <url-pattern>/ServletDemo8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDemoDB</servlet-name>
    <url-pattern>/ServletDemoDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletDAODemo</servlet-name>
    <url-pattern>/ServletDAODemo</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>